body{
    position: relative;
    margin: 0;
}
#navbar{
    position: fixed;
    top: 0;
    /* left: 10%; */
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10px;
    background-color: white;
}
.navlink{
    /* text-decoration: none; */
    color: Black;

}
#welcome-section{
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse, white, black);
}
#welcome-section h1{
    font-size: 3rem;
    /* color: linear-gr; */
}

#welcome-section h2{
    font-size: 2rem;
}
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prjs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-tile{
    width: 20%;
    
}
img{
    width: 100%;
}
@media screen and (max-width: 768px){
  #welcome-section{
    text-align: center;
  }
}